<% content_for :header do -%>
  <%= stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' %>
  <%= javascript_include_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js' %>
<% end -%>

<p id="notice"><%= notice %></p>

<div id="map" style="height: 90vh"></div>

<%= link_to 'Edit', edit_gps_coord_path(@gps_coord) %> |
<%= link_to 'Back', gps_coords_path %>
